@import "~bootstrap/scss/bootstrap";

body {
  display: flex;
  justify-content: center;
  animation: fadeInAnimation ease .8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: #fafafa;
  background-image: url(/images/About.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position-x: right;

}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.jumbotron {
  display: flex;
  justify-content: center;
  margin-top: 6em;
  margin-right: 10em;
}

#mq-wrapper-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  text-decoration: none;
  color: grey;
}

li a:hover {
  text-decoration: none;
  color: lightgrey;
}

#profile-img-container {
  display: flex;
  justify-content: center;
  width: 30em;
  margin-left: 1em;
  margin-right: 1em;
}

#profile-image {
  height: 35em;
}

#nav-container {
  text-align: end;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  height: 31em;
  width: 12em;
  margin-left: 2em;
  padding-top: 1em;

  border: 2px solid darkorchid;
  opacity: .6;
}

#about-vertical-image {
  width: 3em;
  margin-right: 2em;
}

#title {
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
}

#sub-title {
  font-size: 5em;
  font-family: Arial, Helvetica, sans-serif;
}

#greeting-section {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
}

#paragraph-container {
  display: flex;
  justify-content: center;
  width: 30em;
}

#about-me-paragraph {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6em;
  margin-top: 1em;
}

b {
  color: darkorchid;
  font-size: 1.2em;
}

@media only screen and (max-width: 600px) {

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: fadeInAnimation ease .8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-color: #fafafa;
  }
  
  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
  }
  
  .jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #mq-wrapper-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li a {
    text-decoration: none;
    color: grey;
  }
  
  li a:hover {
    text-decoration: none;
    color: lightgrey;
  }
  
  #profile-image {
    height: 15.5em;
  }
  
  #nav-container {
    text-align: end;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    height: 31em;
    width: 10em;
    margin-left: 2em;
    padding-top: 1em;
    border: 2px solid darkorchid;
    opacity: .6;
  }
  
  #about-vertical-image {
    width: 2em;
  }
  
  #title {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #sub-title {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #greeting-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #paragraph-container {
    display: flex;
    justify-content: center;
    width: 20em;
  }
  
  #about-me-paragraph {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    margin-top: 1em;
  }
  
  b {
    color: darkorchid;
    font-size: 1.2em;
  }
  
 }
